{% extends "base.html" %}
{% load static %}
  {% block content%}
  <div class="pro">
    <div>
        <h1 style="text-align:center">Project 1</h1>
        <a href="{% url 'project1' %}"><img src="{% static 'images/college.jpeg'%}"></a><br><br>
        <i>Click on above image for more Deatails</i>
    </div>
 
  </div>
  <style>
    .pro{
        background-color:white;
        margin:40px 500px 0px 500px;
        padding:20px;
        border-radius:9px;
        display:flex;
        justify-content:center;
        align-items:center;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    }
    img{
        border-radius:10px;
        border:2px solid black;
    }
    img:hover{
        border:2.5px solid black;
    }
  </style>
{% endblock %}