{% extends "base.html" %}
{% load static %}
  {% block content %}
  <div class="main">
    <h1 style="text-align:center;margin-bottom:-7px;">Challagiri Udaykumar</h1>
    <div class="contact-info">
        <p>Email: <a href="mailto:challagiriudaykumar@gmail.com">challagiriudaykumar@gmail.com</a></p>
        <p>Phone: 9603315187</p>
        <p>Address:Uppal,Hyderabad</p>
    </div>
    <hr style="border:2px solid">
    

    <div class="section">
        <h2>Objective</h2>
        <p>“A freshly graduated and passionate Software Developer with a solid foundation in Python, Django, HTML, CSS, JavaScript, and MySQL, seeking an opportunity in an organization to prove the skills.”</p>
    </div>

    <div class="section">
        <h2>Education</h2>
        <ul>
            <li><strong>Master Of Computer Applications (MCA)</strong><br>Osmania University <br>78%</li>
            <li><strong>Bachelor Of Science (B.Sc)</strong><br>KRR Arts & Science College (MGU), Kodad<br> 95%</li>
            <li><strong>Intermediate</strong><br>Deeksha Junior college,Nandigama</br>94%</li>
            <li><strong>SSC</strong><br>Z.P.H.School,Ithavarma</br>87%</li>
        </ul>

    </div>

    <div class="section">
        <h2>Projects</h2>
        <ul>
            <li><strong>College Management System(Working On)</strong>
                <p>The College Management System is a comprehensive web-based application designed to streamline various administrative processes within the university. It facilitates student enrollment, course management, and more.</p>
                <p><strong>Key features include:</strong></p>
                <ul>
                    <li>User Authentication: Secure login for students, faculty, and administration.</li>
                    <li>Course Management: Easy creation and modification of courses, with enrollment capabilities.</li>
                </ul>
                <p>GitHub: <a href="https://github.com/uday2001kumar/collegemanagementsystem2024" target="_blank">https://github.com/uday2001kumar/collegemanagementsystem2024</a></p>
            </li>
        </ul>
    </div>

    <div class="section">
        <h2>Achievements</h2>
        <ul>
            <li>Completed Python Full-Stack Programming Certification from Q-edge Technologies, covering core Python, advanced Python, Django Framework, HTML, CSS, JavaScript, MySQL, and basic React.</li>
        </ul>
    </div>

    <div class="section">
        <h2>Skills</h2>
        <ul>
            <li>Python</li>
            <li>Django</li>
            <li>HTML, CSS, JavaScript</li>
            <li>MySQL</li>
            <li>React (Basics)</li>
            <li>GitHub</li>
        </ul>
    </div>

    <div class="section">
        <h2>Strengths</h2>
        <ul>
            <li>Problem Solving</li>
            <li>Analytical Skills</li>
            <li>Effective Communication</li>
        </ul>
    </div>

    <div class="section">
        <h2>Languages</h2>
        <ul>
            <li>English</li>
            <li>Telugu</li>
        </ul>
    </div>
</div>
    <style>
        .contact-info p{
            margin-bottom: 2.5px;
        }
        .main{
            margin:50px 270px 50px 270px;
            background-color:white;
            padding:40px 60px 20px 60px;
            font-size:17px;
            border-radius:5px;  
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }
        .contact-info{
            display:flex;
            gap:20px;
        }

    </style>
    
  {% endblock content %}